
.contenedor{
    padding-right: 5%;
    padding-left: 35%;
}

.main{
    padding: 1rem;
    text-align: center;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

.Financiero{
    background-color: rgb(138, 18, 18);
    border-width:0.3rem;
}
.Valdivia{
    border-color: tomato;
}