
.contenedor{
    
    display :flex;
    flex-direction: column;
    width: 100%;
}

header{
    padding: 1%;
    text-align: left;
    background-color: cornflowerblue;
    color: white;
    font-weight: 500;
}
.main{
    padding: 1rem;
    text-align: center;
 
}

h1{
    font-size: 2rem;
}

.Financiero{
    background-color:blue;
    border-width:0.3rem;
}
.Valdivia{
    border-color: blanchedalmond;
}
.aa{
    background-color: aqua;
}