/* Página Principal */
header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 1%;
    text-align: left;
    background-color: #003554;
    color: white;
    font-weight: 500;
    margin-bottom: 1%;
}

.title-evento{
    font-weight: 700;
    font-size: 2.6rem;
}
.title{
    width: 100%;
    font-size: 2rem;
}

.title-filtros{

    color: white;
    font-size: 1.7rem;
    font-weight: 600;
    margin: 5%;
}

h3{
    font-size: 1.5rem;
}

.contenedor-calendario{
    width: 100%;
    height: auto;
    margin-right: 1%;
    margin-left: 1%;
}

.contenedor-filtros{
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 1rem;
    width: 20%;
    height: 100%;
    margin-left: 2%;
    margin-bottom: 1%;
    background-color: #6096ba;
}

.main-home{
    width: 100%;
    display: flex;
    flex-direction: row;
}


/* EventModal */
.main-evento{
    width: auto;
    padding: 2%;
    border-radius: 2rem;
    border-width: 0.2rem;
    border-color: black;
    height: 100%;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.div-default{
    overflow: inherit;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 1%;
}

.fecha{     
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    margin-left: 5%;
}

.div-comentarios{
    width: 100%;
    max-height: 10rem;
    display: flex;
    padding: 1%;
    flex-direction: column;
    overflow-y: scroll;
}

.comentario{
    background-color: rgb(206, 210, 213);
    padding: 1%;
    border-radius: 1rem;
    border: 0.15rem solid black;
    margin-bottom: 1%;
    margin-left: 1%;
}

.comentario-respuesta{
    background-color: rgb(225, 231, 236);
    padding: 1%;
    border-radius: 1rem;
    border: 0.15rem solid black;
    margin-bottom: 1%;
    margin-left: 5%;
}

.userName{
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
}

.user-icon{
    margin-right: 0.5%;
}

.text-comentario{
    margin-left: 2%;
}

.form{
    width: 100%;
    display: flex;
    padding: 1%;
    flex-direction: row;
}


/* Filtros y eventos */
.Financiero{
    width: auto;
    border-radius: 0.5rem;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 4%;
    background-color: rgb(67, 170, 139);
    cursor: pointer;
}

.Académico{
    width: auto;
    border-radius: 0.5rem;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 4%;
    background-color: rgb(249, 199, 79);
    cursor: pointer;
}

.Social{
    width: auto;
    border-radius: 0.5rem;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 4%;
    background-color: rgb(249, 65, 68);
    cursor: pointer;
}

.Docencia{
    width: auto;
    border-radius: 0.5rem;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 4%;
    background-color: rgb(17, 228, 235);
    cursor: pointer;
}

.Admisión{
    width: auto;
    border-radius: 0.5rem;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 4%;
    background-color: rgb(200, 65, 249);
    cursor: pointer;
}

.Otros{
    width: auto;
    border-radius: 0.5rem;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 4%;
    background-color: rgb(39, 125, 161);
    cursor: pointer;
}

.NonSelected{
    width: auto;
    border-radius: 0.5rem;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 4%;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.Valdivia{
    width: auto;
    border-radius: 0.5rem;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 4%;
    background-color: rgb(242, 166, 166);
}
.PuertoMontt{
    width: auto;
    border-radius: 0.5rem;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 4%;
    background-color: rgb(169, 255, 205);
}
.Patagonia{
    width: auto;
    border-radius: 0.5rem;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 4%;
    background-color: rgb(241, 157, 247);
}

/*SearchBar*/
.search{
    width: 100%;
    height: 100%;
    margin-left: 30%;

}
.searchInputs{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 0.5rem;
    border-radius: 2rem;
    width: 100%;
}

.dataitem p{
    margin-left: 2%;
}

ul {
    text-decoration: none;
}

ul :hover {
    background-color: lightgrey;
}

.clearBtn {
    color: brown;
    cursor: pointer;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
}

.dataResult::-webkit-scrollbar{
    display: none;
}

input:focus {
    outline: none;
}

.dataResult {
    color: black;/*layout*/
    position: absolute;
    margin-top: 0.5%;
    margin-right: 2%;
    max-width: 50%;
    max-height: 90px; 
    background-color: white;
    overflow: hidden;
    overflow-y: auto;
    cursor: pointer;
    padding: 0.5rem;
}

.search input{
    color:  black;/*layout*/
    background-color: white;
    font-size: 1.2rem;
    padding: 3%;
    height: 30px;
    width: 200%;
}